<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8" />
        <title>The Tech Blog</title>
        {{!-- <link rel="stylesheet" href="./public/stylesheets/style.css" /> --}}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a>Home</a>
                    </li>
                    <li>
                        <a>Dashboard</a>
                    </li>
                    <li>
                        <a>Login</a>
                    </li>
                    <li>
                        <a>Logout</a>
                    </li>
                </ul>
            </nav>
            <h1>The Tech Blog</h1>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>