{{!-- create new blog --}}
<div class="blog-display">
    <div class="b-header">
        <h2>Create New Blog</h2>
    </div>
    <div class="b-content">
        <form class="new-blog-form">
            <label for="title">Title</label><br>
            <input type="text" id="b-title" name="b-title"><br><br>
            <label for="content">Content</label><br>
            <textarea type="text" id="bb-content" name="bb-content"></textarea><br><br>
            <button type="submit" id="n-blog">+ New Blog</button>
        </form>
        <br>
    </div>
</div>

{{!-- display existing blogs --}}
{{#if userBlog.length}}
    {{#each userBlog as |blog|}}
        <div id="saved-b">
            <div>
                <h3>{{blog.blog_title}}</h3>
                <a href="/blog/{{blog.id}}">Add Comment</a>
                <a href="/dashboard/edit/{{blog.id}}" style="margin-left: 5px">Edit Post</a>
            </div>
            <p>Blog posted on {{blog.date}}</p>
        </div>
    {{/each}}
{{/if}}

<script src="/javascript/add-post.js"></script>


 