{{!-- create new blog  --}}
<div class="blog-display">
    <div class="b-header">
        <h2>Create New Blog</h2>
    </div>
    <div class="b-content">
        <form action="/action_page.php">
            <label for="title">Title</label><br>
            <input type="text" id="b-title" name="b-title"><br><br>
            <label for="content">Content</label><br>
            <textarea type="text" id="bb-content" name="bb-content"></textarea><br><br>
            <button type="button" id="n-blog">+ New Blog</button>
        </form>
        <br>
    </div>
</div>

 