{{!-- edit blog --}}
<div class="blog-display">
    <div class="b-header">
        <h2>Edit Blog</h2>
    </div>
    <div class="b-content">
        <form action="/action_page.php">
            <label for="title">Title</label><br>
            <input type="text" id="b-title" name="edit-b-title"><br><br>
            <label for="content">Content</label><br>
            <textarea type="text" id="bb-content" name="edit-bb-content"></textarea><br><br>
            <input type="submit" id="b-update" value="Update Blog">
            <input type="submit" id="b-delete" value="Delete">
        </form>
        <br>
    </div>
</div>
