{{!-- display blogs --}}
<div class="blog-display">
    <div class="b-header">
        <h2>{{blog_title}}</h2>
        <p>Blog posted by {{user.username}} on {{date}}</p>
    </div>
    <div class="b-content">
        <p>{{blog_text}}</p>
        <br>
        {{!-- <p>Comment<p>
        <textarea type="text" id="comment" name="bb-content"></textarea><br>
        <button type="button" id="submit-comment">Sumbit Comment</button><br><br> --}}
    </div>
</div>