{{!-- Login --}}
<div class="blog-display">
    <div class="b-header">
        <h2>Login</h2>
    </div>
    <div class="b-content">
        <form action="/action_page.php">
            <label for="username">Username</label><br>
            <input type="text" id="u-name" name="login-name"><br><br>
            <label for="password">Password</label><br>
            <input type="text" id="password" name="login-password"><br><br>
            <input type="submit" id="login" value="Login!">
        </form>
        <br>
        <a href="#">Sign Up Instead</a> 
    </div>
</div>

{{!-- Sign up  --}}
<div class="blog-display">
    <div class="b-header">
        <h2>Sign Up</h2>
    </div>
    <div class="b-content">
        <form action="/action_page.php">
            <label for="username">Username</label><br>
            <input type="text" id="u-name-su" name="sign-up-name"><br><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email"><br><br>
            <label for="password">Password</label><br>
            <input type="text" id="password-su" name="sign-up-password"><br><br>
            <input type="submit" id="sign-up" value="Sign-up!">
        </form>
        <br>
        <a href="#">Login Instead</a> 
    </div>
</div>