/* CSS for dashboard (mostly) */
#b-title,  
#bb-content, 
#source {
    padding: 8px;
    width: 97%;
}

#b-delete {
    margin-top: 15px;
}

#b-create, 
#b-update, 
#b-delete {
    padding: 7px;
    width: 1225px;
    background-color: var(--button);
    border: 1px solid var(--button);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-left: -5px;
}

#saved-b {
    background-color: rgb(98, 101, 103);
}

#saved-b {
    margin-top: 20px;
    color:rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
    width: 91%;
    margin-left: 4%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#saved h3 {
    font-weight: normal;
}

#saved-b a {
    color: rgb(255, 255, 255);
}

/* iPad Pro */
@media screen and (max-width: 1024px) {

    .b-header h2 {
        font-size: 50px;
    }

    .new-blog-form label,
    .edit-post-form label,
    .login-form label, 
    .signup-form label {
        font-size: 40px;
    }

    #b-title,  
    #bb-content {
        padding: 25px;
        width: 93%;
        font-size: 35px;
    }

    #n-blog {
        font-size: 50px;
        width: 320px;
        margin-left: 290px;
    }

    #saved-b {
        font-size: 35px;
        margin-top: 35px;
    }

    #b-create, 
    #b-update, 
    #b-delete,
    #login,
    #sign-up {
        font-size: 40px;
        width: 99%;
    }

    .b-content a {
        font-size: 30px;
    }
}

/* iPad */
@media screen and (max-width: 768px) {

    #b-title,  
    #bb-content {
        width: 90%;
    }

    #n-blog {
        margin-left: 173px;
    }

    #saved-b {
        font-size: 27px;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width: 414px) {

    #b-title,  
    #bb-content {
        width: 88%;
    }
    
    #n-blog {
        margin-left: 100px;
    }

    #saved-b {
        font-size: 22px;
        width: 545px;
    }
}

