/* CSS for homepage (mostly) */
:root {
    --primary-color: rgb(40, 15, 1);
    --secondary-color: white;
    --mint-label: white;
    --button: rgb(77, 86, 86);
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(96,130,172);
    background: radial-gradient(circle, rgba(96,130,172,1) 0%, rgba(54,69,79,1) 100%); 
}

header {
    height: 125px;
    background-color: var(--primary-color);
}

header nav ul {
    padding-top: 20px;
    list-style: none;
    display: flex;
    margin-left: -35px;
}

header nav ul a {
    margin-left: 35px;
    text-decoration: none;
    color: var(--mint-label);
    font-size: 20px;
}

header h1 {
    background-color: var(--secondary-color);;
    width: 245px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 4px 4px 2px rgb(213, 216, 220);
}

.welcome {
    color: var(--mint-label);
    margin-left: 730px;
    margin-top: 6px;
    position: absolute;
}

.blog-display {
    border: 3px solid var(--primary-color);
    margin-top: 20px;
    width: 92%;
    margin-left: 4%;
}

.blog-display p {
    color: white;
}

.b-header p {
    margin-top: 4px;
}

.b-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

.b-header h2, 
.b-header p, 
.b-header a {
    color: var(--mint-label);
}

.b-header h2, 
.b-header p, 
.b-content {
    margin-left: 13px;
}

form {
    margin-top: 6px;
}

label {
    font-weight: bold;
    color: var(--primary-color);
}

#u-name, 
#password, 
#u-name-su, 
#password-su, 
#email, 
#comment, 
#bb-content, 
#b-title {
    padding: 8px;
    width: 97%;
}

#submit-comment {
    width: 150px;
    padding: 6px;
    color: var(--mint-label);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

#login, 
#sign-up {
    padding: 7px;
    width: 1225px;
    background-color: var(--button);
    border: 1px solid var(--button);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-left: -5px;
}

.b-content a {
    text-decoration: none;
    color: white;
}

.new-post {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

#n-blog {
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--mint-label);
    font-size: 20px;
    width: 160px;
}

#n-article {
    margin-left: 20px;
}

.comments-list {
    margin-top: 30px;
    margin-left: 34px;
}

.comment-single {
    color: white;
}

.meta {
    background-color: var(--primary-color);
    color: var(--mint-label);
    font-weight: bold;
    width: 1305px;
}

/* iPad Pro  */
@media screen and (max-width: 1024px) {

    header {
        height: 255px;
    }

    header nav ul {
        margin-left: 180px;
    }

    header nav ul a {
        font-size: 40px;
    }

    header h1 {
        font-size: 65px;
        width: 550px;
        margin-left: 226px;
    }

    .welcome {
        margin-left: -500px; 
        margin-top: 160px;
        width: 500px;
        font-size: 40px;
        position: absolute;
        text-align: center;
    }

    .blog-display {
        margin-top: 35px;
    }

    .b-header {
        display: block;
    }

    .b-header a {
        font-size: 50px;
        text-decoration: none;
        border-bottom: 2px solid var(--mint-label);
    }

    .b-header p {
        font-size: 35px;
        margin-top: 8px;
    }

    .b-content p {
        margin-top: 12px;
        font-size: 35px;
    }

    .mq-comment {
        font-weight: bold;
    }

    #u-name, 
    #password, 
    #u-name-su, 
    #password-su, 
    #email, 
    #comment, 
    #bb-content, 
    #b-title {
        padding: 25px;
        font-size: 35px;
        width: 93%;
    }

    #submit-comment {
        font-size: 50px;
        width: 320px;
        margin-left: 290px;
        margin-top: 15px;
    }

    .meta,
    .text {
        font-size: 35px;
        width: 97%;
    }
}

/* iPad  */
@media screen and (max-width: 768px) {
    
    .header-wrapper {
        margin-left: -120px;
    }

    #u-name, 
    #password, 
    #u-name-su, 
    #password-su, 
    #email, 
    #comment, 
    #bb-content, 
    #b-title {
        width: 90%;
    }

    #submit-comment {
        margin-left: 175px;
    }
}

/* iPhone 6/7/8 Plus*/
@media screen and (max-width: 414px) {

    header {
        width: 600px;
    }

    .header-wrapper {
        margin-left: -205px;
    }

    .blog-display {
        width: 552px;
    }

    .b-header a {
        font-size: 40px;
    }

    .b-header p {
        font-size: 30px;
    }

    .b-content p {
        font-size: 30px;
    }

    #u-name, 
    #password, 
    #u-name-su, 
    #password-su, 
    #email, 
    #comment, 
    #bb-content, 
    #b-title {
        width: 88%;
    }

    #submit-comment {
        margin-left: 100px;
    }

    .meta,
    .text {
        font-size: 30px;
        width: 140%;
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {

    header {
        height: 200px;
    }

    header nav ul {
        margin-left: 233px;
    }

    header nav ul a {
        font-size: 30px;
    }

    header h1 {
        font-size: 46px;
    }

    .welcome {
        font-size: 30px;
        margin-left: -447px;
        margin-top: 130px;
    }

    .b-header a {
        font-size: 35px;
    }

    .b-header p {
        font-size: 25px;
    }

    .b-content p {
        font-size: 25px;
    }
}